.headfont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sectionfont {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.my-2 {
    margin-top: 20px;
}

.py-2 {
    padding: 15px 0;
}

.mx-2 {
    margin-left: 6px;
    margin-right: 6px;
}